In [1]:
import pandas as pd
review=pd.read_csv("score.csv") #csv file
review.head()  #

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,INSTURL,NPCURL,HCM2,PREDDEG,...,RET_PTL4_POOLED_SUPP,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GT_25K_P6,GRAD_DEBT_MDN_SUPP,GRAD_DEBT_MDN10YR_SUPP,RPY_3YR_RT_SUPP,C150_L4_POOLED_SUPP,C150_4_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,0,3,...,NaN,0.8159,0.0877,29900,0.453,35000,361.891446885773,0.2458495231,NaN,0.3303
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,0,3,...,NaN,0.5218,0.2363,40200,0.669,21500,222.304745944118,0.5199110572,NaN,0.5504
2,100690,2503400,25034,Amridge University,Montgomery,AL,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,0,3,...,NaN,0.8781,0.8571,40100,0.658,23000,237.814379382079,0.2331002331,NaN,PrivacySuppressed
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,www.uah.edu,finaid.uah.edu/,0,3,...,NaN,0.4589,0.2255,45600,0.685,23500,242.984257194733,0.5490029699,NaN,0.4776
4,100724,100500,1005,Alabama State University,Montgomery,AL,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,0,3,...,NaN,0.7692,0.0974,26700,0.393,32091,331.813097771753,0.1963538553,NaN,0.2663

In [2]:
import pandas as pd
review=pd.read_csv("score.csv")
review.shape

(7593, 123)

In [3]:
import pandas as pd
review=pd.read_csv("score.csv")
review.iloc[0:10,:]

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,INSTURL,NPCURL,HCM2,PREDDEG,...,RET_PTL4_POOLED_SUPP,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GT_25K_P6,GRAD_DEBT_MDN_SUPP,GRAD_DEBT_MDN10YR_SUPP,RPY_3YR_RT_SUPP,C150_L4_POOLED_SUPP,C150_4_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,0,3,...,NaN,0.8159,0.0877,29900,0.453,35000,361.891446885773,0.2458495231,NaN,0.3303
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,0,3,...,NaN,0.5218,0.2363,40200,0.669,21500,222.304745944118,0.5199110572,NaN,0.5504
2,100690,2503400,25034,Amridge University,Montgomery,AL,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,0,3,...,NaN,0.8781,0.8571,40100,0.658,23000,237.814379382079,0.2331002331,NaN,PrivacySuppressed
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,www.uah.edu,finaid.uah.edu/,0,3,...,NaN,0.4589,0.2255,45600,0.685,23500,242.984257194733,0.5490029699,NaN,0.4776
4,100724,100500,1005,Alabama State University,Montgomery,AL,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,0,3,...,NaN,0.7692,0.0974,26700,0.393,32091,331.813097771753,0.1963538553,NaN,0.2663
5,100751,105100,1051,The University of Alabama,Tuscaloosa,AL,www.ua.edu/,financialaid.ua.edu/net-price-calculator/,0,3,...,NaN,0.4059,0.0810,42700,0.695,23750,245.56919610106,0.5911430119,NaN,0.6638
6,100760,100700,1007,Central Alabama Community College,Alexander City,AL,www.cacc.edu,www.cacc.edu/NetPriceCalculator/14-15/npcalc.html,0,2,...,0.51948376623376,0.3574,0.2630,27200,0.466,9388,97.0696258103897,0.263502455,0.1722,NaN
7,100812,100800,1008,Athens State University,Athens,AL,www.athens.edu,https://24.athens.edu/apex/prod8/f?p=174:1:394...,0,3,...,NaN,0.6512,0.6774,38500,0.653,18534,191.637030759455,0.4942462601,NaN,NaN
8,100830,831000,8310,Auburn University at Montgomery,Montgomery,AL,www.aum.edu,www.aum.edu/current-students/financial-informa...,0,3,...,NaN,0.5584,0.2257,33500,0.616,22192.5,229.465026714643,0.4162696959,NaN,0.2115
9,100858,100900,1009,Auburn University,Auburn,AL,www.auburn.edu,www.auburn.edu/admissions/money-matters.html,0,3,...,NaN,0.3470,0.0427,47100,0.741,21500,222.304745944118,0.731666973,NaN,0.7188

In [4]:
review.iloc[:,1:3]

         OPEID  OPEID6
0       100200    1002
1       105200    1052
2      2503400   25034
3       105500    1055
4       100500    1005
5       105100    1051
6       100700    1007
7       100800    1008
8       831000    8310
9       100900    1009
10      101200    1012
11     1218200   12182
12     1055400   10554
13     1303906   13039
14      101500    1015
15      106000    1060
16      100300    1003
17      101700    1017
18     4187200   41872
19      101800    1018
20      787100    7871
21      569900    5699
22      962107    9621
23      101900    1019
24     2199700   21997
25      526000    5260
26      102000    1020
27      102100    1021
28      102200    1022
29      101300    1013
...        ...     ...
7563    145946    1459
7564    145952    1459
7565    145959    1459
7566    145965    1459
7567    145971    1459
7568    145972    1459
7569    145996    1459
7570    145945    1459
7571    145954    1459
7572    145990    1459
7573    145992    1459
7574    145994    1459
7575    145995    1459
7576  10145900    1459
7577  10145901    1459
7578  10145908    1459
7579  10145909    1459
7580   4169701   41697
7581   4208601   42086
7582   4208602   42086
7583   4088301   40883
7584   4184801   41848
7585   4184802   41848
7586   4205801   42058
7587    869423    8694
7588   4220901   42209
7589   4223701   42237
7590   4228101   42281
7591   4232401   42324
7592   4215601   42156

[7593 rows x 2 columns]

In [6]:
review["CITY"]

0                 Normal
1             Birmingham
2             Montgomery
3             Huntsville
4             Montgomery
5             Tuscaloosa
6         Alexander City
7                 Athens
8             Montgomery
9                 Auburn
10            Birmingham
11           Phenix City
12                 Selma
13            Montgomery
14            Enterprise
15           Bay Minette
16            Montgomery
17               Gadsden
18           Albertville
19                Dothan
20            Hanceville
21                 Selma
22            Birmingham
23            Montgomery
24              Florence
25            Huntsville
26          Jacksonville
27               Brewton
28            Birmingham
29                Tanner
              ...
7563              Morrow
7564             Roswell
7565        Douglasville
7566            Lithonia
7567            Savannah
7568             Augusta
7569            Columbus
7570            Columbia
7571    North Charleston
7572              Irving
7573             Houston
7574             Houston
7575               Plano
7576          Cedar Hill
7577              Dallas
7578         San Antonio
7579            Stafford
7580             Fremont
7581              Newark
7582         New Orleans
7583              Merced
7584             El Paso
7585              Austin
7586          Emeryville
7587       Overland Park
7588    Highland Heights
7589            San Jose
7590           Lancaster
7591         San Antonio
7592              Newark
Name: CITY, Length: 7593, dtype: object

In [8]:
review[["CITY","OPEID"]]

                  CITY     OPEID
0               Normal    100200
1           Birmingham    105200
2           Montgomery   2503400
3           Huntsville    105500
4           Montgomery    100500
5           Tuscaloosa    105100
6       Alexander City    100700
7               Athens    100800
8           Montgomery    831000
9               Auburn    100900
10          Birmingham    101200
11         Phenix City   1218200
12               Selma   1055400
13          Montgomery   1303906
14          Enterprise    101500
15         Bay Minette    106000
16          Montgomery    100300
17             Gadsden    101700
18         Albertville   4187200
19              Dothan    101800
20          Hanceville    787100
21               Selma    569900
22          Birmingham    962107
23          Montgomery    101900
24            Florence   2199700
25          Huntsville    526000
26        Jacksonville    102000
27             Brewton    102100
28          Birmingham    102200
29              Tanner    101300
...                ...       ...
7563            Morrow    145946
7564           Roswell    145952
7565      Douglasville    145959
7566          Lithonia    145965
7567          Savannah    145971
7568           Augusta    145972
7569          Columbus    145996
7570          Columbia    145945
7571  North Charleston    145954
7572            Irving    145990
7573           Houston    145992
7574           Houston    145994
7575             Plano    145995
7576        Cedar Hill  10145900
7577            Dallas  10145901
7578       San Antonio  10145908
7579          Stafford  10145909
7580           Fremont   4169701
7581            Newark   4208601
7582       New Orleans   4208602
7583            Merced   4088301
7584           El Paso   4184801
7585            Austin   4184802
7586        Emeryville   4205801
7587     Overland Park    869423
7588  Highland Heights   4220901
7589          San Jose   4223701
7590         Lancaster   4228101
7591       San Antonio   4232401
7592            Newark   4215601

[7593 rows x 2 columns]

In [9]:
import pandas as pd
review=pd.read_csv("score.csv")
review.count()

UNITID                    7593
OPEID                     7593
OPEID6                    7593
INSTNM                    7593
CITY                      7593
STABBR                    7593
INSTURL                   7573
NPCURL                    7075
HCM2                      7593
PREDDEG                   7593
HIGHDEG                   7593
CONTROL                   7593
LOCALE                    7147
HBCU                      7147
PBI                       7147
ANNHI                     7147
TRIBAL                    7147
AANAPII                   7147
HSI                       7147
NANTI                     7147
MENONLY                   7147
WOMENONLY                 7147
RELAFFIL                   909
SATVR25                   1193
SATVR75                   1193
SATMT25                   1202
SATMT75                   1202
SATWR25                    733
SATWR75                    733
SATVRMID                  1193
                          ...
UGDS_NRA                  6858
UGDS_UNKN                 6858
PPTUG_EF                  6831
CURROPER                  7593
NPT4_PUB                  1906
NPT4_PRIV                 4513
NPT41_PUB                 1900
NPT42_PUB                 1799
NPT43_PUB                 1750
NPT44_PUB                 1545
NPT45_PUB                 1318
NPT41_PRIV                4455
NPT42_PRIV                3670
NPT43_PRIV                3287
NPT44_PRIV                2686
NPT45_PRIV                2138
PCTPELL                   6835
RET_FT4_POOLED_SUPP       2341
RET_FTL4_POOLED_SUPP      3801
RET_PT4_POOLED_SUPP       1550
RET_PTL4_POOLED_SUPP      2224
PCTFLOAN                  6835
UG25ABV                   6788
MD_EARN_WNE_P10           6454
GT_25K_P6                 6454
GRAD_DEBT_MDN_SUPP        7564
GRAD_DEBT_MDN10YR_SUPP    7564
RPY_3YR_RT_SUPP           6666
C150_L4_POOLED_SUPP       3890
C150_4_POOLED_SUPP        2505
Length: 123, dtype: int64

In [10]:
review.corr()

,UNITID,OPEID,OPEID6,HCM2,PREDDEG,HIGHDEG,CONTROL,LOCALE,HBCU,PBI,...,NPT44_PUB,NPT45_PUB,NPT41_PRIV,NPT42_PRIV,NPT43_PRIV,NPT44_PRIV,NPT45_PRIV,PCTPELL,PCTFLOAN,UG25ABV
UNITID,1.000000,-0.003816,0.001936,-0.020568,-0.389325,-0.371586,0.109634,-0.135061,-0.097842,-0.056962,...,0.066986,0.031954,0.024711,0.037233,0.015641,-0.050026,-0.173635,0.305592,0.140744,0.410510
OPEID,-0.003816,1.000000,0.405211,0.026050,-0.086548,-0.094026,0.266735,-0.079378,-0.051925,-0.027138,...,-0.132598,-0.129174,-0.023804,0.005818,-0.012464,-0.040345,-0.105764,0.125375,0.018973,0.309457
OPEID6,0.001936,0.405211,1.000000,0.083623,-0.378512,-0.422724,0.483255,-0.131285,-0.108620,-0.045178,...,-0.132599,-0.129174,-0.142111,-0.076433,-0.113388,-0.136552,-0.252916,0.252494,-0.005268,0.395559
HCM2,-0.020568,0.026050,0.083623,1.000000,-0.038111,-0.045841,0.056454,-0.027185,0.011242,-0.000838,...,0.088878,0.102705,-0.042646,-0.035664,-0.038596,-0.050036,-0.053046,0.049150,-0.005949,0.049518
PREDDEG,-0.389325,-0.086548,-0.378512,-0.038111,1.000000,0.911204,-0.334517,-0.009032,0.109639,0.008613,...,0.508152,0.544488,0.137622,0.093469,0.118084,0.183928,0.365235,-0.330751,0.094320,-0.362118
HIGHDEG,-0.371586,-0.094026,-0.422724,-0.045841,0.911204,1.000000,-0.331159,-0.031668,0.107352,0.036105,...,0.571784,0.602034,0.204605,0.163599,0.177994,0.234595,0.377951,-0.298335,0.119816,-0.288621
CONTROL,0.109634,0.266735,0.483255,0.056454,-0.334517,-0.331159,1.000000,-0.321930,-0.097184,-0.114589,...,NaN,NaN,-0.008655,0.019196,-0.005863,-0.099014,-0.274830,0.449297,0.425529,0.398727
LOCALE,-0.135061,-0.079378,-0.131285,-0.027185,-0.009032,-0.031668,-0.321930,1.000000,-0.010895,0.009645,...,-0.144562,-0.162868,-0.124647,-0.126795,-0.138643,-0.119482,-0.105659,-0.123487,-0.158445,-0.188859
HBCU,-0.097842,-0.051925,-0.108620,0.011242,0.109639,0.107352,-0.097184,-0.010895,1.000000,0.004917,...,0.042332,0.018932,-0.002634,0.000041,-0.000317,-0.024179,-0.052562,0.096670,0.088390,-0.101183
PBI,-0.056962,-0.027138,-0.045178,-0.000838,0.008613,0.036105,-0.114589,0.009645,0.004917,1.000000,...,-0.114648,-0.128953,0.003219,0.001214,0.003060,-0.004745,-0.046358,0.055806,-0.026027,0.040251
ANNHI,-0.035113,-0.013268,-0.021497,-0.006371,0.030821,0.029913,-0.069370,0.018705,-0.007546,-0.007658,...,-0.050441,-0.052967,0.015210,0.010549,-0.005282,0.000761,-0.003996,0.007633,-0.055028,-0.022219
TRIBAL,-0.003791,0.013405,0.047653,0.033424,-0.000816,0.007329,-0.077688,0.144862,-0.008319,-0.008442,...,-0.059193,-0.005314,-0.055309,-0.064053,-0.067660,-0.058539,-0.039573,0.020181,-0.121012,0.032575
AANAPII,-0.090769,-0.039841,-0.075835,-0.002444,0.062920,0.073419,-0.144546,-0.047051,-0.015724,0.002145,...,0.006206,0.055146,0.052765,0.062387,0.076521,0.082046,0.088761,-0.060338,-0.101351,-0.051232
HSI,-0.141033,-0.066699,-0.123527,-0.017788,0.090957,0.108155,-0.243103,-0.034205,-0.028434,-0.008071,...,-0.162993,-0.095383,-0.069997,-0.079950,-0.078023,-0.048164,-0.007067,-0.034661,-0.201371,-0.073705
NANTI,-0.030810,-0.018137,-0.034114,-0.006256,0.016886,0.020003,-0.070157,0.067173,-0.007410,-0.007519,...,-0.019557,-0.029760,0.013265,0.009826,-0.011112,-0.013331,-0.016822,-0.010904,-0.024820,-0.022729
MENONLY,-0.043349,-0.012538,-0.013163,-0.009732,0.112551,0.082278,-0.020195,-0.013568,0.000899,-0.011698,...,NaN,NaN,-0.095683,-0.114039,-0.129334,-0.092787,0.040886,-0.014066,-0.151264,-0.084215
WOMENONLY,-0.059829,-0.034766,-0.073998,-0.007525,0.081459,0.085769,-0.015614,-0.021505,0.023113,0.006741,...,NaN,NaN,-0.003123,-0.011573,-0.001700,0.023797,0.041043,-0.037573,0.045037,-0.062407
RELAFFIL,0.077076,0.106669,0.106669,0.001631,0.088269,-0.015686,NaN,0.086203,0.062223,0.052746,...,NaN,NaN,-0.137021,-0.153955,-0.209757,-0.203919,-0.131338,0.178149,-0.163764,0.002302
SATVR25,-0.001531,0.010715,0.010715,-0.041977,0.105925,0.071768,0.094733,-0.226705,-0.265987,-0.087834,...,0.322804,0.436986,-0.165845,-0.177177,-0.046108,0.190750,0.630708,-0.680185,-0.516484,-0.392471
SATVR75,0.007481,0.061798,0.061798,-0.035063,0.104429,0.087975,0.113858,-0.215648,-0.324844,-0.110881,...,0.329593,0.437951,-0.146907,-0.161904,-0.042579,0.173369,0.590045,-0.681841,-0.501173,-0.387469
SATMT25,-0.005956,-0.031101,-0.031101,-0.032111,0.128252,0.096531,0.033590,-0.208345,-0.275745,-0.089228,...,0.321039,0.424344,-0.156791,-0.164015,-0.035948,0.187098,0.632703,-0.695330,-0.538277,-0.411157
SATMT75,-0.021400,-0.011507,-0.011507,-0.025846,0.137810,0.120485,0.043398,-0.203334,-0.306010,-0.100758,...,0.312124,0.431400,-0.139033,-0.139822,-0.023202,0.192114,0.605657,-0.694284,-0.543167,-0.413840
SATWR25,-0.018632,-0.008251,-0.008251,-0.046116,0.109414,0.037472,0.135305,-0.238121,-0.256539,-0.052391,...,0.353984,0.478253,-0.227080,-0.239915,-0.130401,0.128082,0.669783,-0.692223,-0.602126,-0.432132
SATWR75,-0.002239,0.018723,0.018723,-0.021783,0.147925,0.079939,0.149392,-0.238634,-0.286863,-0.071630,...,0.353641,0.489550,-0.191930,-0.202336,-0.095793,0.151265,0.658025,-0.695408,-0.590653,-0.432449
SATVRMID,0.003042,0.037151,0.037151,-0.039259,0.107185,0.081440,0.106554,-0.225277,-0.301369,-0.101376,...,0.332009,0.445163,-0.159498,-0.172996,-0.045380,0.185175,0.620707,-0.693969,-0.518544,-0.397368
SATMTMID,-0.013985,-0.021711,-0.021711,-0.029525,0.135447,0.110441,0.039403,-0.209569,-0.296266,-0.096758,...,0.321558,0.434408,-0.150887,-0.154962,-0.030367,0.192603,0.629462,-0.707340,-0.550455,-0.420004
SATWRMID,-0.010748,0.005183,0.005183,-0.034586,0.130299,0.059254,0.144493,-0.241884,-0.275543,-0.062904,...,0.359008,0.490860,-0.212989,-0.224683,-0.114950,0.141179,0.672535,-0.704032,-0.605363,-0.438751
ACTCM25,-0.014355,-0.030821,-0.030821,-0.032338,0.122464,0.109064,0.115444,-0.206183,-0.276345,-0.113599,...,0.352941,0.451467,-0.133000,-0.139146,-0.015571,0.218033,0.650235,-0.728994,-0.539273,-0.429520
ACTCM75,-0.019495,-0.036212,-0.036212,-0.028933,0.165827,0.151446,0.133120,-0.189148,-0.357548,-0.136020,...,0.363229,0.450351,-0.094401,-0.098488,0.010563,0.219607,0.596865,-0.745561,-0.520876,-0.429523
ACTEN25,-0.024204,-0.029724,-0.029723,-0.041677,0.097407,0.090836,0.133749,-0.223301,-0.269618,-0.099261,...,0.333697,0.447767,-0.109342,-0.120544,0.003696,0.234671,0.639539,-0.705889,-0.517564,-0.416179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PCIP52,-0.147713,0.076922,-0.310908,-0.028652,0.479773,0.501682,-0.179564,0.015105,0.063345,0.049806,...,0.185153,0.200216,0.110509,0.081455,0.074562,0.086007,0.078998,-0.125627,0.037479,-0.005861
PCIP54,-0.261333,-0.156923,-0.333636,-0.036105,0.466418,0.432710,-0.231678,0.063037,0.071424,-0.020238,...,0.456148,0.490185,-0.044707,-0.059175,-0.026122,0.042896,0.225775,-0.295177,0.057436,-0.427763
DISTANCEONLY,0.071128,0.019231,0.063819,0.010709,0.060378,0.075140,0.034856,-0.010806,-0.009140,0.021522,...,0.040771,0.042909,-0.013270,-0.024696,-0.029318,-0.043530,-0.030871,-0.022739,0.002066,0.141368
UGDS,-0.277094,-0.138997,-0.312994,-0.040290,0.303247,0.312703,-0.418865,-0.075430,0.005507,0.029884,...,0.208137,0.243381,0.060239,0.043524,0.054894,0.070775,0.141916,-0.257462,-0.180127,-0.225268
UGDS_WHITE,-0.204826,-0.129800,-0.184589,-0.073769,0.130285,0.089977,-0.230541,0.304702,-0.178686,-0.095759,...,0.140760,0.039414,-0.079709,-0.096396,-0.117963,-0.143269,-0.071875,-0.347931,0.014008,-0.294320
UGDS_BLACK,0.157292,0.072561,0.095287,0.022888,-0.137032,-0.110921,0.196014,-0.167105,0.342041,0.204409,...,-0.041289,-0.057406,0.089817,0.115493,0.104035,0.022136,-0.149645,0.368701,0.231158,0.303538
UGDS_HISP,0.111558,0.043899,0.174454,0.056069,-0.149492,-0.130999,0.119352,-0.175627,-0.072725,-0.048594,...,-0.193630,-0.114274,-0.125974,-0.123745,-0.117601,-0.039812,-0.043493,0.202055,-0.180237,0.074086
UGDS_ASIAN,-0.013719,-0.004321,0.037466,0.054494,0.064698,0.058138,-0.017730,-0.142581,-0.046477,-0.023304,...,0.105671,0.211993,0.022570,0.039500,0.113575,0.232974,0.376568,-0.175621,-0.163845,0.057726
UGDS_AIAN,-0.009987,0.004186,0.032901,0.028210,-0.016803,-0.009654,-0.103157,0.183251,-0.019139,-0.016502,...,-0.089345,-0.100515,-0.041819,-0.046887,-0.057580,-0.058247,-0.085542,0.010386,-0.145869,0.024880
UGDS_NHPI,0.014534,0.016039,0.031186,0.007183,0.006511,0.005557,-0.010023,-0.042721,-0.014909,-0.011650,...,-0.083247,-0.034242,0.037635,0.044670,0.047409,0.031158,-0.026047,0.036976,-0.049173,0.004825
UGDS_2MOR,-0.068400,-0.005914,-0.124328,-0.051786,0.059390,0.078407,-0.059864,-0.035250,-0.040433,-0.023256,...,0.042552,0.037785,0.144208,0.165852,0.158314,0.145765,0.162018,-0.087943,0.040854,-0.082762
UGDS_NRA,-0.128418,-0.046216,-0.102489,0.044689,0.268747,0.277760,-0.100110,-0.046022,0.005871,-0.013689,...,0.274002,0.294073,0.124143,0.146560,0.186818,0.268837,0.436345,-0.284978,-0.113547,-0.175664
UGDS_UNKN,0.088866,0.134916,-0.052831,-0.032827,0.051740,0.063800,0.129902,-0.085295,-0.019807,-0.021105,...,0.008743,-0.028115,0.181916,0.197836,0.202023,0.129442,0.066355,0.036313,0.144749,0.059874
PPTUG_EF,-0.071797,-0.095783,-0.115198,-0.044918,-0.007394,0.001634,-0.251260,0.073985,-0.043788,0.088899,...,-0.576750,-0.609584,0.026826,0.019647,-0.008163,-0.073223,-0.174731,-0.141749,-0.226787,0.239755
CURROPER,-0.101097,-0.094878,-0.087794,0.010762,0.170056,0.155001,-0.281343,0.082567,0.042085,0.020318,...,-0.023017,-0.005168,-0.078954,-0.091270,-0.087405,-0.065033,0.028872,-0.236611,-0.182373,-0.225722
NPT4_PUB,0.032188,-0.110507,-0.110507,0.043432,0.393105,0.430284,NaN,-0.106070,0.034846,-0.104495,...,0.950368,0.924982,NaN,NaN,NaN,NaN,NaN,-0.101572,0.629149,-0.232823
NPT4_PRIV,-0.106126,-0.099792,-0.282303,-0.056721,0.318760,0.361980,-0.194570,-0.087726,-0.013177,-0.007810,...,NaN,NaN,0.916792,0.896365,0.919504,0.941137,0.922556,-0.293162,0.301717,-0.097981
NPT41_PUB,0.095989,0.009810,0.009810,0.066236,0.177875,0.204493,NaN,-0.048288,0.074192,-0.073354,...,0.834429,0.784537,NaN,NaN,NaN,NaN,NaN,0.030004,0.536962,-0.024538
NPT42_PUB,0.092349,-0.037088,-0.037088,0.059218,0.240592,0.275652,NaN,-0.065405,0.074193,-0.078720,...,0.877221,0.829274,NaN,NaN,NaN,NaN,NaN,-0.001192,0.571441,-0.094088
NPT43_PUB,0.060794,-0.100070,-0.100070,0.074779,0.377427,0.425504,NaN,-0.102107,0.071993,-0.094886,...,0.942785,0.899059,NaN,NaN,NaN,NaN,NaN,-0.075528,0.616429,-0.222825
NPT44_PUB,0.066986,-0.132598,-0.132599,0.088878,0.508152,0.571784,NaN,-0.144562,0.042332,-0.114648,...,1.000000,0.962739,NaN,NaN,NaN,NaN,NaN,-0.158094,0.632756,-0.349754
NPT45_PUB,0.031954,-0.129174,-0.129174,0.102705,0.544488,0.602034,NaN,-0.162868,0.018932,-0.128953,...,0.962739,1.000000,NaN,NaN,NaN,NaN,NaN,-0.140439,0.564558,-0.421299
NPT41_PRIV,0.024711,-0.023804,-0.142111,-0.042646,0.137622,0.204605,-0.008655,-0.124647,-0.002634,0.003219,...,NaN,NaN,1.000000,0.960626,0.942629,0.877185,0.633357,-0.083775,0.352700,0.112931
NPT42_PRIV,0.037233,0.005818,-0.076433,-0.035664,0.093469,0.163599,0.019196,-0.126795,0.000041,0.001214,...,NaN,NaN,0.960626,1.000000,0.950413,0.882510,0.639214,-0.097615,0.336445,0.128200
NPT43_PRIV,0.015641,-0.012464,-0.113388,-0.038596,0.118084,0.177994,-0.005863,-0.138643,-0.000317,0.003060,...,NaN,NaN,0.942629,0.950413,1.000000,0.924878,0.724630,-0.132372,0.306217,0.068163
NPT44_PRIV,-0.050026,-0.040345,-0.136552,-0.050036,0.183928,0.234595,-0.099014,-0.119482,-0.024179,-0.004745,...,NaN,NaN,0.877185,0.882510,0.924878,1.000000,0.845445,-0.185459,0.143731,-0.032991
NPT45_PRIV,-0.173635,-0.105764,-0.252916,-0.053046,0.365235,0.377951,-0.274830,-0.105659,-0.052562,-0.046358,...,NaN,NaN,0.633357,0.639214,0.724630,0.845445,1.000000,-0.413637,-0.167086,-0.271910
PCTPELL,0.305592,0.125375,0.252494,0.049150,-0.330751,-0.298335,0.449297,-0.123487,0.096670,0.055806,...,-0.158094,-0.140439,-0.083775,-0.097615,-0.132372,-0.185459,-0.413637,1.000000,0.414846,0.385557
PCTFLOAN,0.140744,0.018973,-0.005268,-0.005949,0.094320,0.119816,0.425529,-0.158445,0.088390,-0.026027,...,0.632756,0.564558,0.352700,0.336445,0.306217,0.143731,-0.167086,0.414846,1.000000,0.127176
UG25ABV,0.410510,0.309457,0.395559,0.049518,-0.362118,-0.288621,0.398727,-0.188859,-0.101183,0.040251,...,-0.349754,-0.421299,0.112931,0.128200,0.068163,-0.032991,-0.271910,0.385557,0.127176,1.000000

In [11]:
review.max()

UNITID                                            48621101
OPEID                                             82098842
OPEID6                                               42542
INSTNM          eClips School of Cosmetology and Barbering
CITY                                          white plains
STABBR                                                  WY
HCM2                                                     1
PREDDEG                                                  4
HIGHDEG                                                  4
CONTROL                                                  3
LOCALE                                                  43
HBCU                                                     1
PBI                                                      1
ANNHI                                                    1
TRIBAL                                                   1
AANAPII                                                  1
HSI                                                      1
NANTI                                                    1
MENONLY                                                  1
WOMENONLY                                                1
RELAFFIL                                               105
SATVR25                                                730
SATVR75                                                800
SATMT25                                                770
SATMT75                                                800
SATWR25                                                730
SATWR75                                                800
SATVRMID                                               765
SATMTMID                                               785
SATWRMID                                               765
                                   ...
PCIP52                                                   1
PCIP54                                              0.1616
DISTANCEONLY                                             1
UGDS                                                129139
UGDS_WHITE                                               1
UGDS_BLACK                                               1
UGDS_HISP                                                1
UGDS_ASIAN                                               1
UGDS_AIAN                                                1
UGDS_NHPI                                           0.9995
UGDS_2MOR                                                1
UGDS_NRA                                            0.9868
UGDS_UNKN                                            0.875
PPTUG_EF                                                 1
CURROPER                                                 1
NPT4_PUB                                             30126
NPT4_PRIV                                            93368
NPT41_PUB                                            30001
NPT42_PUB                                            28205
NPT43_PUB                                            30314
NPT44_PUB                                            30496
NPT45_PUB                                            32944
NPT41_PRIV                                           92643
NPT42_PRIV                                           92055
NPT43_PRIV                                           95017
NPT44_PRIV                                           91832
NPT45_PRIV                                           95165
PCTPELL                                                  1
PCTFLOAN                                                 1
UG25ABV                                                  1
Length: 110, dtype: object

In [12]:
review.min()

UNITID                              100654
OPEID                               100200
OPEID6                                1002
INSTNM          A & W Healthcare Educators
CITY                               ARTESIA
STABBR                                  AK
HCM2                                     0
PREDDEG                                  0
HIGHDEG                                  0
CONTROL                                  1
LOCALE                                  -3
HBCU                                     0
PBI                                      0
ANNHI                                    0
TRIBAL                                   0
AANAPII                                  0
HSI                                      0
NANTI                                    0
MENONLY                                  0
WOMENONLY                                0
RELAFFIL                                22
SATVR25                                292
SATVR75                                378
SATMT25                                245
SATMT75                                380
SATWR25                                200
SATWR75                                360
SATVRMID                               342
SATMTMID                               355
SATWRMID                               280
                           ...
PCIP52                                   0
PCIP54                                   0
DISTANCEONLY                             0
UGDS                                     0
UGDS_WHITE                               0
UGDS_BLACK                               0
UGDS_HISP                                0
UGDS_ASIAN                               0
UGDS_AIAN                                0
UGDS_NHPI                                0
UGDS_2MOR                                0
UGDS_NRA                                 0
UGDS_UNKN                                0
PPTUG_EF                                 0
CURROPER                                 0
NPT4_PUB                             -2138
NPT4_PRIV                              686
NPT41_PUB                            -2064
NPT42_PUB                            -3028
NPT43_PUB                              189
NPT44_PUB                             2485
NPT45_PUB                             -600
NPT41_PRIV                            -581
NPT42_PRIV                             -42
NPT43_PRIV                           -7086
NPT44_PRIV                           -1061
NPT45_PRIV                             725
PCTPELL                                  0
PCTFLOAN                                 0
UG25ABV                             0.0004
Length: 110, dtype: object

In [14]:
review["OPEID"]/2

0         50100.0
1         52600.0
2       1251700.0
3         52750.0
4         50250.0
5         52550.0
6         50350.0
7         50400.0
8        415500.0
9         50450.0
10        50600.0
11       609100.0
12       527700.0
13       651953.0
14        50750.0
15        53000.0
16        50150.0
17        50850.0
18      2093600.0
19        50900.0
20       393550.0
21       284950.0
22       481053.5
23        50950.0
24      1099850.0
25       263000.0
26        51000.0
27        51050.0
28        51100.0
29        50650.0
          ...
7563      72973.0
7564      72976.0
7565      72979.5
7566      72982.5
7567      72985.5
7568      72986.0
7569      72998.0
7570      72972.5
7571      72977.0
7572      72995.0
7573      72996.0
7574      72997.0
7575      72997.5
7576    5072950.0
7577    5072950.5
7578    5072954.0
7579    5072954.5
7580    2084850.5
7581    2104300.5
7582    2104301.0
7583    2044150.5
7584    2092400.5
7585    2092401.0
7586    2102900.5
7587     434711.5
7588    2110450.5
7589    2111850.5
7590    2114050.5
7591    2116200.5
7592    2107800.5
Name: OPEID, Length: 7593, dtype: float64

In [16]:
review.loc[1]

UNITID                                                      100663
OPEID                                                       105200
OPEID6                                                        1052
INSTNM                         University of Alabama at Birmingham
CITY                                                    Birmingham
STABBR                                                          AL
INSTURL                                                www.uab.edu
NPCURL                    uab.studentaidcalculator.com/survey.aspx
HCM2                                                             0
PREDDEG                                                          3
HIGHDEG                                                          4
CONTROL                                                          1
LOCALE                                                          12
HBCU                                                             0
PBI                                                              0
ANNHI                                                            0
TRIBAL                                                           0
AANAPII                                                          0
HSI                                                              0
NANTI                                                            0
MENONLY                                                          0
WOMENONLY                                                        0
RELAFFIL                                                       NaN
SATVR25                                                        520
SATVR75                                                        630
SATMT25                                                        520
SATMT75                                                        668
SATWR25                                                        NaN
SATWR75                                                        NaN
SATVRMID                                                       575
                                            ...
UGDS_NRA                                                    0.0181
UGDS_UNKN                                                   0.0085
PPTUG_EF                                                    0.2671
CURROPER                                                         1
NPT4_PUB                                                     16023
NPT4_PRIV                                                      NaN
NPT41_PUB                                                    13614
NPT42_PUB                                                    14746
NPT43_PUB                                                    17601
NPT44_PUB                                                    18873
NPT45_PUB                                                    18482
NPT41_PRIV                                                     NaN
NPT42_PRIV                                                     NaN
NPT43_PRIV                                                     NaN
NPT44_PRIV                                                     NaN
NPT45_PRIV                                                     NaN
PCTPELL                                                     0.3505
RET_FT4_POOLED_SUPP                               0.80765744125326
RET_FTL4_POOLED_SUPP                                           NaN
RET_PT4_POOLED_SUPP                               0.58823529411764
RET_PTL4_POOLED_SUPP                                           NaN
PCTFLOAN                                                    0.5218
UG25ABV                                                     0.2363
MD_EARN_WNE_P10                                              40200
GT_25K_P6                                                    0.669
GRAD_DEBT_MDN_SUPP                                           21500
GRAD_DEBT_MDN10YR_SUPP                            222.304745944118
RPY_3YR_RT_SUPP                                       0.5199110572
C150_L4_POOLED_SUPP                                            NaN
C150_4_POOLED_SUPP                                          0.5504
Name: 1, Length: 123, dtype: object

In [17]:
review.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,INSTURL,NPCURL,HCM2,PREDDEG,...,RET_PTL4_POOLED_SUPP,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GT_25K_P6,GRAD_DEBT_MDN_SUPP,GRAD_DEBT_MDN10YR_SUPP,RPY_3YR_RT_SUPP,C150_L4_POOLED_SUPP,C150_4_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,0,3,...,NaN,0.8159,0.0877,29900,0.453,35000,361.891446885773,0.2458495231,NaN,0.3303
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,0,3,...,NaN,0.5218,0.2363,40200,0.669,21500,222.304745944118,0.5199110572,NaN,0.5504
2,100690,2503400,25034,Amridge University,Montgomery,AL,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,0,3,...,NaN,0.8781,0.8571,40100,0.658,23000,237.814379382079,0.2331002331,NaN,PrivacySuppressed
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,www.uah.edu,finaid.uah.edu/,0,3,...,NaN,0.4589,0.2255,45600,0.685,23500,242.984257194733,0.5490029699,NaN,0.4776
4,100724,100500,1005,Alabama State University,Montgomery,AL,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,0,3,...,NaN,0.7692,0.0974,26700,0.393,32091,331.813097771753,0.1963538553,NaN,0.2663

In [20]:
review.std()

UNITID          6.771661e+06
OPEID           3.516382e+06
OPEID6          1.408887e+04
HCM2            9.758556e-02
PREDDEG         1.031903e+00
HIGHDEG         1.318152e+00
CONTROL         8.359409e-01
LOCALE          9.415183e+00
HBCU            1.186171e-01
PBI             1.203232e-01
ANNHI           6.247340e-02
TRIBAL          6.881331e-02
AANAPII         1.284938e-01
HSI             2.238282e-01
NANTI           6.135197e-02
MENONLY         9.493825e-02
WOMENONLY       7.367372e-02
RELAFFIL        2.101654e+01
SATVR25         7.036988e+01
SATVR75         7.150669e+01
SATMT25         7.469998e+01
SATMT75         7.507693e+01
SATWR25         8.203630e+01
SATWR75         8.069504e+01
SATVRMID        6.959606e+01
SATMTMID        7.354111e+01
SATWRMID        8.016365e+01
ACTCM25         3.602933e+00
ACTCM75         3.497463e+00
ACTEN25         4.111679e+00
                    ...
PCIP52          1.445066e-01
PCIP54          1.060097e-02
DISTANCEONLY    7.552855e-02
UGDS            5.404575e+03
UGDS_WHITE      2.870121e-01
UGDS_BLACK      2.228702e-01
UGDS_HISP       2.233959e-01
UGDS_ASIAN      7.669769e-02
UGDS_AIAN       6.976440e-02
UGDS_NHPI       3.127604e-02
UGDS_2MOR       3.663842e-02
UGDS_NRA        5.509809e-02
UGDS_UNKN       9.641727e-02
PPTUG_EF        2.489381e-01
CURROPER        3.218520e-01
NPT4_PUB        4.814619e+03
NPT4_PRIV       7.485065e+03
NPT41_PUB       4.006723e+03
NPT42_PUB       4.097914e+03
NPT43_PUB       4.347333e+03
NPT44_PUB       4.647854e+03
NPT45_PUB       4.980527e+03
NPT41_PRIV      6.872362e+03
NPT42_PRIV      6.952453e+03
NPT43_PRIV      7.061082e+03
NPT44_PRIV      6.703113e+03
NPT45_PRIV      8.046285e+03
PCTPELL         2.244675e-01
PCTFLOAN        2.810039e-01
UG25ABV         2.341105e-01
Length: 107, dtype: float64

In [19]:
review.dtypes

UNITID                      int64
OPEID                       int64
OPEID6                      int64
INSTNM                     object
CITY                       object
STABBR                     object
INSTURL                    object
NPCURL                     object
HCM2                        int64
PREDDEG                     int64
HIGHDEG                     int64
CONTROL                     int64
LOCALE                    float64
HBCU                      float64
PBI                       float64
ANNHI                     float64
TRIBAL                    float64
AANAPII                   float64
HSI                       float64
NANTI                     float64
MENONLY                   float64
WOMENONLY                 float64
RELAFFIL                  float64
SATVR25                   float64
SATVR75                   float64
SATMT25                   float64
SATMT75                   float64
SATWR25                   float64
SATWR75                   float64
SATVRMID                  float64
                           ...
UGDS_NRA                  float64
UGDS_UNKN                 float64
PPTUG_EF                  float64
CURROPER                    int64
NPT4_PUB                  float64
NPT4_PRIV                 float64
NPT41_PUB                 float64
NPT42_PUB                 float64
NPT43_PUB                 float64
NPT44_PUB                 float64
NPT45_PUB                 float64
NPT41_PRIV                float64
NPT42_PRIV                float64
NPT43_PRIV                float64
NPT44_PRIV                float64
NPT45_PRIV                float64
PCTPELL                   float64
RET_FT4_POOLED_SUPP        object
RET_FTL4_POOLED_SUPP       object
RET_PT4_POOLED_SUPP        object
RET_PTL4_POOLED_SUPP       object
PCTFLOAN                  float64
UG25ABV                   float64
MD_EARN_WNE_P10            object
GT_25K_P6                  object
GRAD_DEBT_MDN_SUPP         object
GRAD_DEBT_MDN10YR_SUPP     object
RPY_3YR_RT_SUPP            object
C150_L4_POOLED_SUPP        object
C150_4_POOLED_SUPP         object
Length: 123, dtype: object

In [21]:
review.head(20)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,INSTURL,NPCURL,HCM2,PREDDEG,...,RET_PTL4_POOLED_SUPP,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GT_25K_P6,GRAD_DEBT_MDN_SUPP,GRAD_DEBT_MDN10YR_SUPP,RPY_3YR_RT_SUPP,C150_L4_POOLED_SUPP,C150_4_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,0,3,...,NaN,0.8159,0.0877,29900,0.453,35000,361.891446885773,0.2458495231,NaN,0.3303
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,0,3,...,NaN,0.5218,0.2363,40200,0.669,21500,222.304745944118,0.5199110572,NaN,0.5504
2,100690,2503400,25034,Amridge University,Montgomery,AL,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,0,3,...,NaN,0.8781,0.8571,40100,0.658,23000,237.814379382079,0.2331002331,NaN,PrivacySuppressed
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,www.uah.edu,finaid.uah.edu/,0,3,...,NaN,0.4589,0.2255,45600,0.685,23500,242.984257194733,0.5490029699,NaN,0.4776
4,100724,100500,1005,Alabama State University,Montgomery,AL,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,0,3,...,NaN,0.7692,0.0974,26700,0.393,32091,331.813097771753,0.1963538553,NaN,0.2663
5,100751,105100,1051,The University of Alabama,Tuscaloosa,AL,www.ua.edu/,financialaid.ua.edu/net-price-calculator/,0,3,...,NaN,0.4059,0.0810,42700,0.695,23750,245.56919610106,0.5911430119,NaN,0.6638
6,100760,100700,1007,Central Alabama Community College,Alexander City,AL,www.cacc.edu,www.cacc.edu/NetPriceCalculator/14-15/npcalc.html,0,2,...,0.51948376623376,0.3574,0.2630,27200,0.466,9388,97.0696258103897,0.263502455,0.1722,NaN
7,100812,100800,1008,Athens State University,Athens,AL,www.athens.edu,https://24.athens.edu/apex/prod8/f?p=174:1:394...,0,3,...,NaN,0.6512,0.6774,38500,0.653,18534,191.637030759455,0.4942462601,NaN,NaN
8,100830,831000,8310,Auburn University at Montgomery,Montgomery,AL,www.aum.edu,www.aum.edu/current-students/financial-informa...,0,3,...,NaN,0.5584,0.2257,33500,0.616,22192.5,229.465026714643,0.4162696959,NaN,0.2115
9,100858,100900,1009,Auburn University,Auburn,AL,www.auburn.edu,www.auburn.edu/admissions/money-matters.html,0,3,...,NaN,0.3470,0.0427,47100,0.741,21500,222.304745944118,0.731666973,NaN,0.7188
10,100937,101200,1012,Birmingham Southern College,Birmingham,AL,www.bsc.edu/,www.bsc.edu/fp/np-calculator.cfm,0,3,...,NaN,0.4633,0.0141,45600,0.637,26850,277.622438539514,0.747826087,NaN,0.627
11,101028,1218200,12182,Chattahoochee Valley Community College,Phenix City,AL,www.cv.edu,https://external.cv.edu/npc/npcalc.htm,0,2,...,0.25830463576158,0.3058,0.3604,26300,0.41,9389.5,97.0851354438277,0.2684824903,0.1376,NaN
12,101073,1055400,10554,Concordia College Alabama,Selma,AL,www.ccal.edu/,www.ccal.edu/admissions/net-pricing-calculator/,0,2,...,NaN,0.9249,0.1294,20600,0.356,36870,381.226789905099,0.1184834123,NaN,0.1458
13,101116,1303906,13039,South University-Montgomery,Montgomery,AL,www.southuniversity.edu/montgomery#location=Mo...,tcc.noellevitz.com/edmc/South Net Price Calcul...,0,3,...,NaN,0.7304,0.6109,30300,0.58,25000,258.493890632695,0.226137931,NaN,0.0792
14,101143,101500,1015,Enterprise State Community College,Enterprise,AL,www.escc.edu,www.escc.edu/NetPrice/npcalc.htm,0,2,...,0.36528502994011,0.2128,0.2896,29800,0.518,7155,73.9809514990774,0.4375634518,0.1026,NaN
15,101161,106000,1060,James H Faulkner State Community College,Bay Minette,AL,www.faulknerstate.edu,www.faulknerstate.edu,0,2,...,0.3501181619256,0.5107,0.2598,28700,0.475,11000,113.737311878385,0.3568502503,0.1146,NaN
16,101189,100300,1003,Faulkner University,Montgomery,AL,www.faulkner.edu,www.faulkner.edu/net-price-calculator-form/,0,3,...,NaN,0.7105,0.4353,35900,0.614,21750,224.889684850445,0.3014899211,NaN,0.2553
17,101240,101700,1017,Gadsden State Community College,Gadsden,AL,www.gadsdenstate.edu,www.gadsdenstate.edu/net-price-calculator,0,1,...,0.43215794573643,0.0000,0.3320,25400,0.379,PrivacySuppressed,PrivacySuppressed,NaN,0.1568,NaN
18,101277,4187200,41872,New Beginning College of Cosmetology,Albertville,AL,www.nbccosmetology.com,www.nbccosmetology.com/npcalc.htm,0,1,...,PrivacySuppressed,0.5749,0.2747,NaN,NaN,5500,56.8686559391929,0.4,0.7155,NaN
19,101286,101800,1018,George C Wallace State Community College-Dothan,Dothan,AL,www.wallace.edu,www.wallace.edu/net_price_calculator.aspx,0,2,...,0.43297406593406,0.0000,0.3422,24800,0.374,PrivacySuppressed,PrivacySuppressed,NaN,0.1721,NaN

In [24]:
import pandas as pd
review=pd.read_table("a.txt")
review.head()

       vishal
0  maheshwari
1  python ml
2     android
3        java
4      studio

In [27]:
review.dtypes

vishal    object
dtype: object

In [28]:
review.corr()

Empty DataFrame
Columns: []
Index: []

In [31]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
vishal    6 non-null object
dtypes: object(1)
memory usage: 128.0+ bytes

In [34]:
review.sort_values("vishal")

       vishal
2     android
3        java
5         jdk
0  maheshwari
1  python ml
4      studio